wk4.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT PatientTable (Patient+)>
<!ELEMENT Patient (ID,FullName,DateOfBirth,Gender,ServiceDate,ProcedureCode,PrimaryDiagnosis)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT FullName (#PCDATA)>
<!ELEMENT DateOfBirth (#PCDATA)>
<!ELEMENT Age (#PCDATA)>
<!ELEMENT Gender (#PCDATA)>
<!ELEMENT ServiceDate (#PCDATA)>
<!ELEMENT ProcedureCode (#PCDATA)>
<!ELEMENT PrimaryDiagnosis (#PCDATA)>
<!ENTITY M "Male">
<!ENTITY F "Female">
